.cards__item {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 48px 40px;

}
@media screen and (max-width: 1024px) {
  .cards__item {
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 768px) {
  .cards__item {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
  }
}
@media screen and (max-width: 580px) {
  .cards__item {
    grid-template-columns: minmax(288px,1fr);
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 320px) {
  .cards__item {
    grid-gap: 32px;
  }
}
